.cardContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*background: rgb(93,205,227);*/
    /*background: linear-gradient(180deg, rgba(93,205,227,1) 0%, rgba(18,53,62,1) 100%);*/
    opacity: 131%;
    border-radius: 13px;
    border: none;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 30rem;
    margin: 20px;
    padding: 10px;

}

h3{
    outline-color: black;
}

.title{
    /* margin-top: -12px; */
    margin-left: 2%;
    /*border: solid 1px red;*/
    /*width: 12;*/
    background: rgba( 255, 255, 255, 0.05 );
    box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
    /* backdrop-filter: blur( 20px ); */
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
    border: 0px solid rgba( 255, 255, 255, 0.18 );
    /* border-radius: 13px 13px 0px 0px; */
    padding: 9px;
}

.extraInfo{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: small;
    padding: 10px;
}

.cardContainerColumn{
    display: flex;
    /*flex-direction: row;*/
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    opacity: 131%;
    border-radius: 13px;
    border: none;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 30rem;
    margin: 20px;
    padding: 10px;

}
